.xsm{
    font-size: x-small;
}
.sm{
    font-size: small;
}
.md{
    font-size: medium;
}
.lg{
    font-size: large;
}
.xlg{
    font-size: larger;
}
.xxlg{
    font-size: x-large;
}
.xxxlg {
    font-size: xx-large;
}
