.heading {
    text-transform: capitalize;
}
.component-card {
    list-style: none;
    border: 1px solid black;
    padding: 1em;
    margin: 2em 1em;
    width: 20em;
    text-align: center;
    border-radius: 15px;
    transition: 300ms;
}
.list-container {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 10px;
}
.component-card:hover {
    color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
}